<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.samsung.itschool.book.equation243" >

    <application
        >
       

        <activity android:name="com.example.android.MainActivity1" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.android.Game">
        </activity>
        <activity
            android:name="com.example.android.Mon"
            >
        </activity>
        <activity
            android:name="com.example.android.Tuesday"
            >
        </activity>
        <activity
            android:name="com.example.android.Wednes"
            >
        </activity>
        <activity
            android:name="com.example.android.Thursday"
            >
        </activity>
        <activity
            android:name="com.example.android.Friday"
            >
        </activity>
        <activity
            android:name="com.example.android.Satur"
            >
        </activity>
    </application>

</manifest>